MiPro-XG-V1/src/Hardware/MiPro-XG-V1/** linguist-vendored
MiPro-XG-V1/src/Hardware/QuartusProject/** linguist-vendored
MiPro-XG-V1/src/Hardware/VivadoProject/** linguist-vendored
MiPro-XG-V1/src/Hardware/BitStreamFiles/** linguist-vendored
